
/* ===================================================================
 * # Imports
 *
 * ------------------------------------------------------------------- */

@import "_breakpoints.scss";
@import "_functions.scss";
@import "_variables.scss";

/* ===================================================================
 * # Variables
 *
 * ------------------------------------------------------------------- */

 // colors
 $black: #000;
 $white: #ccc;
 $gray: #999;
 $darkGray: #666;

/* ===================================================================
 * # Mixins
 *
 * ------------------------------------------------------------------- */




/* ===================================================================
 * # base style overrides
 *
 * ------------------------------------------------------------------- */

 @font-face {
     font-family: "gligoth";
     src: url(fonts/gligoth.ttf);
 }

 * {
   box-sizing: border-box;
 }

 body {
   line-height: 1.6;
   background-color: #f4f4f4;
 }

 a:link {
   text-decoration: none;
   color: $darkGray;
 }
 a:visited {
   text-decoration:none;
   color: $darkGray;
 }
 a:active {
   text-decoration:none;
   color: $black;
 }

 a {
   text-decoration: none;
   color: #f4f4f4;
   &:hover {
     color: $gray;
   }
 }

 h1 {
   font-family: 'Playfair Display';
 }

 h2 {
   font-family: 'Playfair Display', serif;
 }

 h3,h4 {
   font-family: 'Playfair Display', serif;
 }

 p {
   color: #515056;
   letter-spacing: 0.1rem;
   font-size: .85rem;
   font-family: 'Open Sans', sans-serif;
 }

 #site-content {
   background-color: #fff;
 }

/* ===================================================================
 * # header styles
 *
 * ------------------------------------------------------------------- */

/* -------------------------------------------------------------------
 * ## header logo
 * ------------------------------------------------------------------- */
 .header-logo {
   background-color: black;
   justify-content: center;
   align-items: center;
   padding: 0;
   width: 70px;
   height: 70px;
   display: flex;
   span {
     color: white;
     font-family: 'Playfair Display';
     line-height: 0.9em;
   }
 }

/* -------------------------------------------------------------------
 * ## main navigation
 * ------------------------------------------------------------------- */

 // LINKS IN MENU HOVER EFFECT
 .menu-left a {
   display: inline-block;
   position: relative;
   padding-bottom: 0px;
   transition: color .35s ease;
   &:before {
     content: '';
     display:block;
     position: absolute;
     left: 0;
     bottom: 0;
     height: 6px;
     width: 0;
     transition: width 0s ease, background .35s ease;
   }
   &:after {
     content: '';
     display: block;
     position: absolute;
     right: 0;
     bottom: 0;
     height: 3px;
     width: 0;
     background: #ffcd05;
     transition: width .35s ease;
   }
   &:hover:before {
     width: 100%;
     background: #ffcd05;
     transition: width .35s ease;
   }
   &:hover:after {
     width: 100%;
     background: transparent;
     transition: all 0s ease;
   }
 }

 header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: .5rem 0em 0em 0em;
   background: transparent;
   z-index: 3;
   will-change: transform;
   transition: background .3s,
   -webkit-transform .5s cubic-bezier(.694,.048,.335,1);
   transition: transform .5s cubic-bezier(.694,.048,.335,1),background .3s;
   transition: transform .5s cubic-bezier(.694,.048,.335,1),background .3s,
   -webkit-transform .5s cubic-bezier(.694,.048,.335,1);
   transform: translateY(0);
   -webkit-transform: translateY(0);
   @include media-breakpoint-up(lg) {
     padding: 2em 2em 0em 2em;
   }
   nav {
     margin: 0 auto;
     .logo {
       float: left;
       &:after {
         content: '';
         display: table;
         clear: both;
       }
     }
     ul {
       float: right;
       font-family: 'gligoth', sans-serif;
       font-weight: 600;
       list-style: none;
       padding-left: 0;
       margin: 11.1px 0;
       li {
         margin: 0.5em;
         display: inline-block;
         vertical-align: center;
         @include media-breakpoint-up(md) {
           margin-left: 3rem;
         }
         a {
           display: block;
           padding: 2px;
         }
       }
     }
   }
 }
 .hide-nav {
   transform: translateY(-120%!important);
   -webkit-transform: translateY(-120%)!important;
 }

 ul.menu-left {
   display: block;
   max-height: 0;
   overflow: hidden;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -ms-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
   z-index: 10;
   display: block!important;
   float: right;
   max-height: none;
   &:before {
     content: '';
     display: table;
     clear: both;
   }
   &.collapse {
     max-height: 15em!important;
   }
 }


/* ===================================================================
 * # home
 *
 * ------------------------------------------------------------------- */

 /* -------------------------------------------------------------------
  * ## home content
  * ------------------------------------------------------------------- */
  .home-sec {
    border-radius: 0px;
    position: relative;
    z-index: 2;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    height: calc(100vh);
    text-align: center;
    background-color: #f4f4f4;
  }

  .heading {
    color: black;
    position: relative;
    top: 35%;
    max-height: 700px;
    margin: 0px auto;
    padding: 0 30px 0 30px;
    text-align: left;
    @include media-breakpoint-up(lg) {
      margin-left: 0;
    }
    p {
      margin: 0;
      @include media-breakpoint-up(lg) {
        font-size: 1vw;
      }
    }
    .heading-text {
      margin-bottom: 25px;
      line-height: 0.8em;
      font-size: 5em;
      display: block;
      padding: 0;
      @include media-breakpoint-up(lg) {
        font-size: 6.5vw;
        margin-bottom: 55px;
      }
    }
    @include media-breakpoint-up(md) {
      width: 45%;
    }
    @include media-breakpoint-up(lg) {
      padding: 0em 4em 0em 4em;
    }

    // The Arrow

    $text-arrow-space: 16px;
    $shaft-width: 64px;
    $shaft-thickness: 1px;
    $arrow-head-width: 8px;
    $arrow-head-thickness: $shaft-thickness;

    .the-arrow {
      width: $shaft-width;
      transition: all 0.2s;
      &.-left {
        position: absolute;
        top: 60%;
        left: 0;
        > .shaft {
          width: 0;
          background-color: $gray;
          &:before,
          &:after {
            width: 0;
            background-color: $gray;
          }
          &:before {
            transform: rotate(0);
          }
          &:after {
            transform: rotate(0);
          }
        }
      }
      &.-right {
        top: 3px;
        > .shaft {
          width: $shaft-width;
          transition-delay: 0.2s;
          &:before,
          &:after {
            width: $arrow-head-width;
            transition-delay: 0.3s;
            transition: all 0.5s;
          }
          &:before {
            transform: rotate(40deg);
          }
          &:after {
            transform: rotate(-40deg);
          }
        }
      }
      > .shaft {
        background-color: $gray;
        display: block;
        height: $shaft-thickness;
        position: relative;
        transition: all 0.2s;
        transition-delay: 0;
        will-change: transform;
        &:before,
        &:after {
          background-color: $gray;
          content: '';
          display: block;
          height: $arrow-head-thickness;
          position: absolute;
          top: 0;
          right: 0;
          transition: all 0.2s;
          transition-delay: 0;
        }
        &:before {
          transform-origin: top right;
        }
        &:after {
          transform-origin: bottom right;
        }
      }
    }

    // Animated Arrow Button
    .animated-arrow {
      display: inline-block;
      color: $gray;
      font-size: 1.25em;
      font-style: italic;
      text-decoration: none;
      position: relative;
      transition: all 0.2s;
      @include media-breakpoint-up(lg) {
        font-size: 1.5vw;
      }
      &:hover {
        color: $darkGray;
        > .the-arrow.-left {
          > .shaft {
            width: $shaft-width;
            transition-delay: 0.1s;
            background-color: $darkGray;
            &:before,
            &:after {
              width: $arrow-head-width;
              transition-delay: 0.1s;
              background-color: $darkGray;
            }
            &:before {
              transform: rotate(40deg);
            }
            &:after {
              transform: rotate(-40deg);
            }
          }
        }
        > .main {
          transform: translateX($shaft-width + $text-arrow-space);
          > .the-arrow.-right {
            > .shaft {
              width: 0;
              transform: translateX(200%);
              transition-delay: 0;
              &:before,
              &:after {
                width: 0;
                transition-delay: 0;
                transition: all 0.1s;
              }
              &:before {
                transform: rotate(0);
              }
              &:after {
                transform: rotate(0);
              }
            }
          }
        }
      }
      > .main {
        display: flex;
        align-items: center;
        transition: all 0.2s;
        > .text {
          font-family: 'gligoth', sans-serif;
          margin: 0 $text-arrow-space 0 0;
          line-height: 1;
        }
        > .the-arrow {
          position: relative;
        }
      }
    }
  }



/* -------------------------------------------------------------------
 * ## carousel
 * ------------------------------------------------------------------- */

  .work-slide {
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      margin: 0px auto;
      margin-right: 0;
      padding: 0;
      height: 100vh;
      background-color: #f4f4f4;
      width: 55%;
      .carousel {
        height: 100%;
        max-width: 100%;
        .carousel-item  {
          height: 100vh;
        }
        .carousel-inner > .carousel-item > img {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
        .carousel-control {
          background-color: #fff;
          font-family: 'gligoth', sans-serif;
          font-weight: 600;
          height: 70px;
          width: 150px;
          position: absolute;
          right: 0;
          margin: 0em 2em 0em 0em;
          width: 0 auto;
          bottom: 0px;
          a {
            color: $black;
            width: 60px;
            &:hover,&:focus {
              color: $darkGray;
              opacity: 0.5;
            }
          }
          .carousel-control-next {
            opacity: 1;
            &:after {
              content: '';
              border-top: 2px solid;
              margin: 0 20px 0 0;
              flex: 1 0 20px;
              margin: 0 0 0 10px;
            }
          }
          .carousel-control-prev {
            opacity: 1;
            &:before {
              content: '';
              border-top: 2px solid;
              margin: 0 10px 0 0;
              flex: 1 0 20px;
              margin: 0 10 0 0px;
            }
          }
        }
      }
    }
  }


  /* -------------------------------------------------------------------
  * ## socials
  * ------------------------------------------------------------------- */

  .socials {
    display: block;
    height: 70px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    @include media-breakpoint-up(lg) {
      width: 130px;
      left: 0;
      right: 0;
      margin: 0em 0em 0em 2em;
    }
  }
  .hovicon {
    position: absolute;
    display: inline-block;
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
    margin: 10px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
  }
  .hovicon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  .hovicon:before {
    speak: none;
    font-size: 13px;
    line-height: 60px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
  }

  /* Effect 4 */
  .hovicon.effect-4 {
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 1);
  }
  .hovicon.effect-4:before {
    line-height: 22px;
  }
  .hovicon.effect-4:after {
    top: -2px;
    left: -2px;
    padding: 0;
    z-index: 10;
    border: 2px dashed #000;
  }
  .hovicon.effect-4:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    color: #000;
  }
  .hovicon.effect-4:hover i {
    color: #000;
  }

  /* Effect 4b */
  .hovicon.effect-4:hover {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
  }
  .hovicon.effect-4:hover:after {
    -webkit-animation: spinAround 9s linear infinite;
    -moz-animation: spinAround 9s linear infinite;
    animation: spinAround 9s linear infinite;
  }
  @-webkit-keyframes spinAround {
    from {
      -webkit-transform: rotate(0deg)
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinAround {
    from {
      -moz-transform: rotate(0deg)
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }
  @keyframes spinAround {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(360deg);
    }
  }

/* ===================================================================
 * # about styles
 *
 * ------------------------------------------------------------------- */

 .about-wrap {
   background-color: #f4f4f4;
   margin: 0;
   padding: 240px 40px 140px 40px;
   position: relative;
   text-align: center;
   h1 {
     font-family: 'Playfair Display', serif;
     color: #000;
   }
 }

 .about {
   background-color: #f4f4f4;
   margin-bottom: 120px;
 }



/* ===================================================================
 * # works styles
 *
 * ------------------------------------------------------------------- */

 .works-wrap {
   background-color: #fff;
   padding: 140px 40px 140px 40px;
   position: relative;
   text-align: center;
   h1 {
     font-family: 'Playfair Display', serif;
     color: #000;
   }
 }

 .row {
   text-align: center;
 }

 .works-sec {
   color: #515056;
   border-radius: 0;
   text-align: center;
   background-color: #fff;
   padding: 100px 0 0 0;
   img {
     max-width: 100%;
   }
 }

 .snip {
   cursor: pointer;
   font-family: 'Open Sans', sans-serif;
   position: relative;
   display: block;
   overflow: hidden;
   padding: 0px;
   margin: 0;
   width: 100%;
   color: #555;
   font-size: 6px;
   * {
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     -webkit-transition: all 0.4s ease;
     transition: all 0.4s ease;
   }
   &:before {
     position: absolute;
     top: 0px;
     bottom: 0px;
     left: 0px;
     right: 0px;
     top: 100%;
     content: '';
     background-color: #1C1B20;
     opacity: 0.9;
     -webkit-transition: all 0.4s ease;
     transition: all 0.4s ease;
     -webkit-transition-delay: 0.4s;
     transition-delay: 0.4s;
   }
   img {
     backface-visibility: hidden;
   }
   figcaption {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     z-index: 1;
     align-items: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
   }
   h5,p {
     margin: 0;
     opacity: 0;
     letter-spacing: 1px;
   }
   p {
     -webkit-transform: translateY(-100%);
     transform: translateY(-100%);
     -webkit-transition-delay: 0.05s;
     transition-delay: 0.05s;
     padding: 5px 50px;

   }
   h5 {
     font-weight: normal;
     padding: 3px 10px;
     -webkit-transform: translateY(-100%);
     transform: translateY(-100%);
     -webkit-transition-delay: 0s;
     transition-delay: 0s;
   }
   &:hover:before {
     top: 0px;
     -webkit-transition-delay: 0s;
     transition-delay: 0s;
   }
   &:hover p, &:hover h5 {
     -webkit-transform: translateY(0);
     transform: translateY(0);
     opacity: 1;
   }
   &:hover p {
     -webkit-transition-delay: 0.3s;
     transition-delay: 0.3s;
   }
   &:hover h5 {
     -webkit-transition-delay: 0.2s;
     transition-delay: 0.2s;
   }
 }

/* ===================================================================
 * # footer
 *
 * ------------------------------------------------------------------- */

 .footer {
   padding: 120px 0 0 0;
   background: #1C1B20;
   ul {
     margin: 0;
     padding: 0;
     list-style: none;
   }
   .social {
     color: black;
   }
   li, a {
     color: $darkGray;
     font-family: 'gligoth', sans-serif;
     line-height: 24px;
   }
   & .title {
     margin-bottom: .5rem;
     font-size: 1.2rem;
     color: $white;
     border-bottom: 1px solid #333;
   }
 }
 .copyright {
     font-size: .8em;
     margin: 20px;
     min-height: 20px;
     display: inline-flex;
     align-items: center;
     text-align: center;
     color: $white;
 }
 @media screen and (max-width: 768px) {
   .footer .col-sm-3 {
     padding-bottom: 2rem;
   }
 }
