/* ===================================================================
* # about styles
*
* ------------------------------------------------------------------- */

.about-wrap {
  background-color: #f4f4f4;
  margin: 0;
  padding: 240px 40px 140px 40px;
  position: relative;
  text-align: center;
  h1 {
    font-family: 'Playfair Display', serif;
    color: #000;
  }
}

.about {
  background-color: #f4f4f4;
  margin-bottom: 120px;
}
