/* ===================================================================
* # info styles
*
* ------------------------------------------------------------------- */

@import "../helpers/breakpoints";
@import "../helpers/functions";
@import "../helpers/variables";

.info-wrap {
  background-color: #f4f4f4;
  margin: 0;
  text-align: center;
  img {
    height: 300px;
    width: auto;
    @include media-breakpoint-up(md) {
      height: 350px;
    }
  }
}

.info {
  text-align: center;
  background-color: #f4f4f4;
  margin-bottom: 120px;
  h2 {
    margin-bottom: 50px;
  }
  h3 {
    margin-top: 50px;
  }
  ul {
    list-style: none;
  }
}
